<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/app.css">
    </head>
    <body ng-controller="main">
        <div class="sticky-header">
            <div class="pull-left title" ng-click="goHome()" style="cursor:pointer;">
                <i class="fa fa-life-ring"></i> Data Hasselhoff
            </div>

            <div class="pull-right">
                <span>
                    Options
                </span>
                <span class="red-spacer">|</span>
                <span><strong>Database:</strong> <select ng-model="selectedDatabase" ng-options="db.name for db in databases"></select></span>
            </div>
        </div>
        <div ng-view></div>
    </body>
    <script type="text/javascript" src="static/js/vendor.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>

</html>