<ng-include src="'templates/partials/topBackButton.html'"></ng-include>
<h3>All Tables - {{selectedDatabase.name}}</h3>
<table class="table table-condensed table-striped hofftable width50">
    <thead class="thead">
        <tr>
            <th>Table Name</th>
            <th>Options</th>
        </tr>
    <thead>
    <tbody ><!--   -->
        <tr ng-repeat="table in infos">
            <td>{{table.fullTableName}}</td>
            <td>
                [<a href="" ng-click="loadData('indexesPerTable', {'tableName': table.tableName, 'schemaName': table.schemaName}, formatIndexes)">Indexes</a>]  &nbsp;
                [<a href="" ng-click="loadData('columnSparseness', {'tableName': table.tableName, 'schemaName': table.schemaName}, null)">Column Sparse-ness</a>]
            </td>
        </tr>
    </tbody>
</table>