
<div ng-controller="dictionary" class="container hoffcontainer">
    <div class="pull-right"><a class="btn btn-default partial-back-button" role="button" href="javascript:history.go(-1)">« Back</a></div>

    <div ng-show="dictionary.tables">
        <h3>All Tables - {{selectedDatabase.name}}</h3>
        <table width="100%" class="table table-condensed table-striped hofftable">
            <thead class="thead">
                <tr>
                    <th>Table Name</th>
                    <th>Description</th>
                </tr>
            <thead>
            <tbody >
                <tr ng-repeat="table in dictionary.tables">
                    <td><a href="#/dictionary/{{selectedDatabase.name}}/{{table.objectId}}">{{table.tableName}}</a></td>
                    <td><span ng-hide="table.description"><em>none provided</em></span>{{table.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="dictionary.columns">
        <h3>{{dictionary.table.tableName}}</h3>
        <span ng-hide="dictionary.table.isEditing">
            <strong>
                <span ng-hide="dictionary.table.description"><em>no description provided</em></span><span ng-bind-html="formatLineBreak(dictionary.table.description)"></span> <a href=""><i class="fa fa-pencil" ng-click="edit(dictionary.table)"></i></a>
            </strong>
        </span>
        <span ng-show="dictionary.table.isEditing">
            <textarea class="form-control" rows="3" ng-model="dictionary.table.description"></textarea>
            <button ng-click="save(dictionary.table)">Save</button>
        </span>

        <table width="100%" class="table table-condensed table-striped hofftable">
            <thead class="thead">
                <tr>
                    <th>Column</th>
                    <th>Description</th>
                </tr>
            <thead>
            <tbody >
                <tr ng-repeat="column in dictionary.columns">
                    <td>{{column.columnName}}</td>
                    <td>
                        <span ng-hide="column.isEditing">
                            <span ng-hide="column.description"><em>none provided</em></span>
                            {{column.description}} <a href=""><i class="fa fa-pencil" ng-click="edit(column)"></i></a>
                        </span>
                        <span ng-show="column.isEditing">
                            <textarea class="form-control" rows="3" ng-model="column.description"></textarea>
                            <button ng-click="save(column)">Save</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>