<ng-include src="'templates/partials/topBackButton.html'"></ng-include>
<ng-include src="'templates/partials/refreshButton.html'"></ng-include>
<h3>Top Low-use Indexes</h3>
These indexes have very low reads since the last server restart, indicating they are used seldomly. They should be removed only with caution.
<table width="100%" class="table table-condensed table-striped hofftable">
    <thead class="thead">
        <tr>
            <th>Table</th>
            <th>Index</th>
            <th>Updates</th>
            <th>Scans</th>
            <th>Seeks</th>
            <th>Lookups</th>
            <th>Total Usage</th>
        </tr>
    <thead>
    <tbody >
        <tr ng-repeat="index in infos" >
            <td>{{index.schemaName}}.{{index.tableName}}</td>
            <td>{{index.indexName}}</td>
            <td>{{index.updates}}</td>
            <td>{{index.scans}}</td>
            <td>{{index.seeks}}</td>
            <td>{{index.lookups}}</td>
            <td>{{index.totalUsage}}</td>
        </tr>
    </tbody>      
</table>