<ng-include src="'templates/partials/topBackButton.html'"></ng-include>
<ng-include src="'templates/partials/refreshButton.html'"></ng-include>
<h3>Top Low-use Indexes</h3>
These indexes have very low reads since the last server restart, indicating they are used seldomly. They should be removed only with caution.
<table width="100%" class="table table-condensed table-striped hofftable">
    <thead class="thead">
        <tr>
            <th>Table</th>
            <th>Index</th>
            <th>Updates</th>
            <th>User Scans</th>
            <th>User Seeks</th>
            <th>User Lookups</th>
            <th>Sys Scans</th>
            <th>Sys Seeks</th>
            <th>Sys Lookups</th>
            <th>Total Usage</th>
        </tr>
    <thead>
    <tbody >
        <tr ng-repeat="index in infos" >
            <td>{{index.schemaName}}.{{index.tableName}}</td>
            <td>{{index.indexName}}</td>
            <td>{{index.updates}}</td>
            <td>{{index.userScans}}</td>
            <td>{{index.userSeeks}}</td>
            <td>{{index.userLookups}}</td>
            <td>{{index.systemScans}}</td>
            <td>{{index.systemSeeks}}</td>
            <td>{{index.systemLookups}}</td>
            <td>{{index.totalUsage}}</td>
        </tr>
    </tbody>      
</table>