<!-- Intro page -->
<div ng-show="nav.page=='main'">
    <div class="container intro">
        <div class="jumbotron jumbotron-padding">
            <h1><i class="fa fa-life-ring"></i> Data Hasselhoff</h1>
            <p>While David watches over the beaches of Malibu, Data Hasselhoff watches over your databases</p>
            <hr>
            <strong>Server:</strong> {{server.name}}<br/>
            <strong>Last Server Restart:</strong> {{server.lastRestart}}<br/>
            <strong>Version:</strong> {{server.version}}<br/>
        </div>
    </div>
    <br/>
    <div class="container" ng-show="selectedDatabase">
        <div class="row">
            <div class="col-sm-4">
                <h2>System Info</h2>
                <p>
                    View info such as current processes, tables, database sizes, etc.
                </p>
                <p>
                    <a class="btn btn-default" href="" role="button" ng-click="navigate({template:'system'})">Get Started »</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Maintenance</h2>
                <p>
                    Here you'll find tools to help you tune your database. This section includes information such as unused indexes, unused stored procedures, fragmented indexes, etc.
                </p>
                <p>
                    <a class="btn btn-default" href="" role="button" ng-click="navigate({template:'maintenance'})">Get Started »</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2><i class="fa fa-book"></i> Data Dictionary</i></h2>
                <p>
                    What the heck is that table even used for? Read through the data dictionary and find out. Even better, if you know, edit the dictionary and share your knowledge.
                </p>
                <p>
                    <a class="btn btn-default" href="#/dictionary" role="button">Get Started »</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- System Info page -->
<div class="container" ng-show="nav.page=='system'">
    <div ng-hide="partial">
        <h1>System Information</h1>
        <ul>
            <li><a href="" ng-click="loadData('sysprocesses', {}, findBlockers)">System Processes</a></li>
            <li><a href="" ng-click="loadData('processGroups', {}, formatProcessGroupDates)">Host/Program Connection Stats</a></li>
            <li><a href="" ng-click="loadData('allTables', {})">All Tables</a></li>
            <li><a href="" ng-click="loadData('dbSpaceUsed', {})">DB Space Used</a></li>
            <li><a href="" ng-click="loadData('spaceUsedByTable', {})">Table Space Used</a></li>
        </ul>
    </div>
</div>

<div class="container hoffcontainer" ng-if="partial">
    <ng-include src="'templates/' + partial + '.html'"></ng-include>
</div>

<!-- Maintenance Page -->
<div class="container" ng-show="nav.page=='maintenance'">
    <h1>Maintenance</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Queries</h4></div>
                <div class="panel-body">
                    <ul>
                        <li><a href="" ng-click="loadData('slowQueries', {})">Slowest Queries</a></li>
                        <li><a href="" ng-click="loadData('mostBlockedQueries', {})">Most Blocked Queries</a></li>
                        <li><a href="" ng-click="loadData('highCpuQueries', {})">Highest CPU Queries</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Indexes</h4></div>
                <div class="panel-body">
                    <ul>
                        <li><a href="" ng-click="loadData('missingIndexes', {})">Missing Indexes</a></li>
                        <li><a href="" ng-click="loadData('lowUseIndexes', {})">Low-use Indexes</a></li>
                        <li><a href="" ng-click="loadData('neverUsedIndexes', {})">Never Used Indexes</a></li>
                        <li><a href="" ng-click="loadData('duplicateIndexes', {})">Duplicate Indexes</a></li>
                        <li><a href="" ng-click="loadData('similarIndexes', {})">Similar Indexes</a></li>

                        <li><a href="" ng-click="loadData('allStatsDates', {})">Statistics Last Updated</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Misc.</h4></div>
                <div class="panel-body">
                    <ul>
                        <li><a href="" ng-click="loadData('unusedTables', {})">Un-used Tables</a></li>
                        <li><a href="" ng-click="loadData('sprocUsage', {}, preFormatSprocDatesFromNow)">Stored Procedure Usage</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- back button -->
<div class="container hoffcontainer" ng-hide="nav.page=='main'" style="border-top: #000 1px solid; padding-top: 20px;margin-top: 20px;">
    <p>
        <a class="btn btn-default" href="" role="button" ng-click="navigateBack()">« Back</a>
    </p>
</div>