<ng-include src="'templates/partials/topBackButton.html'"></ng-include>
<ng-include src="'templates/partials/refreshButton.html'"></ng-include>
<h3>Most Blocked Queries</h3>

<table width="100%" class="table table-condensed table-striped hofftable">
    <thead class="thead">
        <tr>
            <th>Total Time Blocked (s)</th>
            <th>CPU %</th>
            <th>Waiting %</th>
            <th># Executions</th>
            <th>Blocking Avg (s)</th>
            <th width="40%">Query</th>
            <th width="40%">Parent Query</th>
            
        </tr>
    <thead>
    <tbody >
        <tr ng-repeat="query in infos" >
            <td>{{query.totalTimeBlocked}}</td>
            <td>{{query.pctCpu}}</td>
            <td>{{query.pctWaiting}}</td>
            <td>{{query.execCount}}</td>
            <td>{{query.avgCpuSeconds}}</td>
            <td ng-bind-html="formatSql(query.individualQuery)"></td>
            <td ng-bind-html="formatSql(query.parentQuery)"></td>
        </tr>
    </tbody>      
</table>