<ng-include src="'templates/partials/topBackButton.html'"></ng-include>
<h3>Never-used Indexes</h3>
These indexes have not been used since the last server restart. So long at the server has been running for several months or more, these indexes are generally safe to remove.

<table width="100%" class="table table-condensed table-striped hofftable">
    <thead class="thead">
        <tr>
            <th>Table</th>
            <th>Index</th>
        </tr>
    <thead>
    <tbody >
        <tr ng-repeat="index in infos" >
            <td>{{index.tableName}}.{{index.schemaName}}</td>
            <td>{{index.indexName}}</td>
        </tr>
    </tbody>      
</table>