
    <h3>Sys Processes</h3>
    <div class="pull-right">
        <a class="btn btn-default" href="" role="button" ng-click="navigateBack()">« Back</a>
    </div>
    <input type="checkbox" ng-model="this.showSystem" value="1"> Show System Processes
    <table width="100%" class="table table-condensed table-striped">
        <thead class="thead">
            <tr>
                <th>spid</th>
                <th>blocked</th>
                <th>last_batch</th>
                <th>hostname</th>
                <th>program_name</th>
            </tr>
        <thead>
        <tbody >
            <tr ng-repeat="process in infos" ng-show="process.spid > 30 || this.showSystem">
                <td>{{process.spid}}</td>
                <td>{{process.blocked}}</td>
                <td>{{process.last_batch}}</td>
                <td>{{process.hostname}}</td>
                <td>{{process.program_name}}</td>
            </tr>
        </tbody>      
    </table>