
    <h3>All Tables</h3>
    <div class="pull-right">
        <a class="btn btn-default" href="" role="button" ng-click="navigateBack()">« Back</a>
    </div>
    
    <table width="100%" class="table table-condensed table-striped">
        <thead class="thead">
            <tr>
                <th>Table Name</th>
            </tr>
        <thead>
        <tbody ><!--   -->
            <tr ng-repeat="table in infos">
                <td>{{table.tableName}}</td>
            </tr>
        </tbody>      
    </table>