<ng-include src="'templates/partials/topBackButton.html'"></ng-include>
<ng-include src="'templates/partials/refreshButton.html'"></ng-include>
<h3>Unused Tables</h3>
<p>{{infos.length}} Total Tables</p>
Tables with a null Last Access Date (rows marked red) have not been queried since the last server restart. 
<br/>
<strong>BE EXTREMELY CAUTIOUS BEFORE DELETING ANY TABLE</strong><br/>
As soon as you query the table to find out what's in it, that table will show as accessed. <strong>DO NOT RUN SELECTS against the unused tables in prod. Use the replicas or Smash.</strong>
<table width="100%" class="table table-condensed table-striped hofftable">
    <thead class="thead">
        <tr>
            <th>Table</th>
            <th>Last Access Date</th>
            <th>Last Lookup</th>
            <th>Last Scan</th>
            <th>Last Seek</th>
        </tr>
    <thead>
    <tbody >
        <tr ng-repeat="table in ::infos" 
            ng-class="!table.lastAccessedDate ? 'danger' : '' ">
            <td>{{table.schemaName}}.{{table.tableName}}</td>
            <td>{{table.lastAccessedDate}}</td>
            <td>{{table.lastUserLookup}}</td>
            <td>{{table.lastUserScan}}</td>
            <td>{{table.lastUserSeek}}</td>
        </tr>
    </tbody>      
</table>